@media screen and (Width >= 684px) {
    
    .ativo{
    
        font-size: 20px;
        margin-left: 20px;
    
        cursor: auto;
        border-bottom: solid 1px white;
        color: white;
    }
}

@media screen and (width < 684px) {
    #ConteudoEsquerdo{
        h1{
            font-size: 32px;
        }
        h3{
            font-size: 20px;
        }

        p{
            font-size: 20px;
        }
    }

    #Experiencia{
        div{
            font-size: 12px;
        }
        h3{
            font-size: 16px;
        }
    }

    .tituloExperiencia{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    section p{
        font-size: 16px;
    }
}

a{

    color: rgba(255, 255, 255, 0.685);
    user-select: none;
    cursor: pointer;
}

#Menu{
    a{
            transition: all .3s;

            @media screen and (width >= 684px){
                
                &:hover:not(.ativo){    
                    font-size: 20px;
                }
                
            }
    }

    @media screen and (width < 684px) {
        font-size: 24px;
    }
}

#Contacto{
    overflow: hidden;
    display: flex;
    align-items: center;
    
    a{
        display: flex;
        align-items: center;
        gap: 4px;

        color: white;
        text-decoration: none;

        span{
            width: 0px;
            overflow: hidden;
            opacity: 0;
            transition: all 0.5s;
        }
        @media screen and (Width >= 684px) {
            &:has(img:hover) span{
                width: 80px;
                opacity: 1;
            }
            
        }
    }

    img{
        height: 40px;


    }
}

#LogrosWrapper{
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.logro{
    font-size: 16px;
    transition: all .5s;
    background-color: rgba(255, 255, 255, 0);
    height: 20px;
    padding-left: 0px;
    &:hover{
    
        padding-left: 8px;
        background-color: rgba(255, 255, 255, 0.137);
    }
}

#Bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: .01;

    pointer-events: none;
}

:host{

    display: flex;
    padding: 64px 32px;
    max-width: 1200px;
    height: 100dvh ;
    box-sizing: border-box;
    gap: 32px;
    
    flex-wrap: wrap;
    
    color: white;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    overflow: hidden;

    @media screen and (Width < 683px) {
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        gap: 50px;

        >aside,>main{
            scroll-snap-align: center;
            scroll-behavior: smooth;
            scroll-snap-stop: always;
        }
    }
}

aside{
    flex: 1 1 200px;
    height: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;

    div#ConteudoEsquerdo{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    div#NomeETitulo{
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1;
    }

    div#Menu{
        flex: 1;
        gap: 16px;
        display: flex;
        flex-direction: column;
    }

    div#Contacto{
        display: flex;
        gap: 16px;
    }
}

main{
    flex: 2 1 300px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px;

    scroll-snap-type: y mandatory;

    background-color: rgba(0, 0, 0, 0.151);

    section{
        
        scroll-snap-align: center;
        margin: 32px 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: justify;
       
        flex: 1 100%;
    }

    #ImgSobreMim{
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: relative;
    
        display: flex;
        justify-content: flex-end;
        
        #Laptop{
            width: 100%;
            object-fit: cover;
        }
        #Icon{
            position: absolute;
            top: 5px;
            height: 200px;
            filter: drop-shadow();
        }

    }

    .experiencia{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 32px;
        justify-content: space-between;
        
        .dado{
            display: flex;
            flex-direction: column;
            gap: 4px;
            h2{
                margin-left: 12px;
            }
        }
    }


}

#TechWrapper{
    display: flex;
    gap: 12px;
    >div{
        background-color: rgba(255, 255, 255, 0.137);
        border-radius: 4px;
        padding: 4px;

        transition: background-color .5s;
        &:hover{
            background-color: rgba(255, 255, 255, 0.205);
        }
    }
}

.experienciaTitulo{
    display: flex;
    gap: 12px;
    align-items: center;
    
    img{
        width: 60%;
    }
}