<img id="Bg" src="bg.jfif">

<aside>
  <div id="ConteudoEsquerdo">
    <div id="NomeETitulo">
      <div>
        <h1>Cristian Marin</h1>
        <h3>Desenvolvedor Fullstack</h3>
      </div>
      <p>Sou um amante da tecnologia e da inovação, dedicado a aprender, ensinar e criar.</p>
    </div>
    <div id="Menu">
      <a (click)="ScrollTo('SobreMim')" [ngClass]="{'ativo': viewAtivo == Views.SobreMim}">Sobre mim</a>
      <a (click)="ScrollTo('Experiencia')" [ngClass]="{'ativo':viewAtivo == Views.Experiencia}">Experiência Profissional</a>
      <a (click)="ScrollTo('Portfolios')" [ngClass]="{'ativo':viewAtivo == Views.Portfolios}">Portfolios</a>
    </div>
  </div>
  <div></div>
  <div id="Contacto">
    <a href="https://www.linkedin.com/in/cristian-marin-761777315/"><img src="linkedin-icon.svg"><span>Linkedin</span></a>
    <a href="mailto:cristianm.px1995@gmail.com"><img src="email-icon.svg"><span>Email</span></a>
    <a href="https://wa.me/5541996403942?text=Ol%C3%A1%2C%20gostei%20do%20seu%20portf%C3%B3lio."><img src="whatsapp-icon.svg"><span>Whatsapp</span></a>
  </div>
</aside>
<main (scroll)="ScrollListener($event)">
  <section id="SobreMim"  >
    <h4>Sobre mim</h4>
    <p>Sou um estudante de <b>Engenharia de Software</b> no Brasil, apaixonado por tecnologia e desenvolvimento de experiências de  usuário confortáveis, intuitivas e eficientes. </p>
    <p>No meu tempo livre, realizo projetos de eletrônica, modelagem 3D, impressão 3D e animação. Gosto de ensinar e  simplificar conceitos complexos para torná-los mais acessíveis.</p>
    <p>Busco continuar me desenvolvendo no campo da engenharia de software, oferecendo soluções inovadoras e compartilhando  meu conhecimento para tornar a tecnologia mais compreensível para todos.</p>
    <div id="ImgSobreMim">
      <img id='Icon' src="developerIcon.svg">
      <img id="Laptop" src="laptop.png">
    </div>
  </section>

  <section id="Experiencia">
    <h4>Experiência Profissional</h4>
    <div class="experiencia" >
      <div class="flex">
        <div class="dado">
          <div>2023 - Agora</div>
          <div><img src="logo-pier.png"></div>
        </div>

        <div>
          <div class="dado">
            <div>Nome: </div>
            <h3>Pier Gestão e Resultados</h3>
          </div>
          <div class="dado">         
            <div>Cargo: </div>
            <h3> Desenvolvedor Fullstack </h3>
          </div>
        </div>
      </div>
      <div>
        Pier é um sistema de gestão contabil, que permite controlar tempos de trabalho, honorarios, documentos, e comunicar o contador com os seus clientes de forma simples.
      </div>
      <div>
        <h4>Techs usadas:</h4>
        <div id="TechWrapper">
          <div>Angular</div>
          <div>Dotnet</div>
          <div>Typescript</div>
          <div>C#</div>
          <div>SQL</div>
          <div>Html</div>
          <div>Sass</div>
          <div>Flutter</div>
        </div>
      </div>
      <div>
        <h4>Logros destacados</h4>
        <div id="LogrosWrapper">
          <div class="logro">Sistema web de importação de arquivos csv com campos, filtros e validadores modulares</div>
          <div class="logro">Sistema web de gestão de permissoes e autorizações para usuarios</div>
          <div class="logro">Aplicativo mobile multiplataforma para clientes</div>
          <div class="logro">Aplicativo desktop multiplataforma para sincronizar pastas com a nuvem</div>
          <div class="logro">Forum de sugestões web com sistema de votaçao para melhorias</div>
        </div>
      </div>

    </div>
  </section>
  <section id="Portfolios">
    <h4 >Portfolios</h4>
    <div>
      
    </div>
  </section>
</main>

